# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android


# Ignore GitHub configuration and AI instructions (keep local only)
.github/
.copilot-instructions.md
.copilot/config.json
.copilot
.cursor
codacy-fixes.patch
.vscode/settings.json
client_677749677697-2smko8dc3d9c8oa0n8g44r7dm2klfilg.apps.googleusercontent.com.plist
.gitignore
client_secret_677749677697-aov5te9g82117paf1in0d53t31vqa7ai.apps.googleusercontent.com.json
